In [69]:
import os
import pandas as pd
df.describe

<bound method NDFrame.describe of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [8]:
print('Financial Analysis')
print('----------------')
print('Total Months:86')

Financial Analysis
----------------
Total Months:86

In [13]:
len(df['Date'])

86

In [5]:
Months = len(df['Date'])
print(Months)

86

In [107]:
df['Profit/Losses'].sum()

df.count(axis="index")
df.sum()

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [106]:
df.sum()

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [57]:
df.dtypes
df.columns.get_loc('Profit/Losses')

1

In [67]:
df.diff(columnName = 'Profit/Losses')

TypeError: diff() got an unexpected keyword argument 'columnName'

In [27]:
monthly_changes = []
for i in df['Profit/Losses']:
    monthly_changes = current_profit - previous_profit

NameError: name 'current_profit' is not defined

In [92]:
PyBankcsv = os.path.join("budget_data.csv")
profit = []
monthly_change = []
date = []
count= 0
total_profit = 0
total_change_profit = 0
initial_profit = 0

with open(PyBankcsv, newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter="," )
    csv_header = next(csvreader)
    
    
    
    for row in csvreader:
        count = count + 1
        total_profit = total_profit + int(row[1])
        
        final_profit = int(row[1])
        monthly_change_profit = final_profit - initial_profit
        monthly_change.append(monthly_change_profit)
        
        initial_profit = final_profit
        
    total_change_profit = sum(monthly_change)
    average_change_profits = (total_change_profit/count)

    print(total_profit)
    print(monthly_change)
    print(average_change_profits)

38382578
[867884, 116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]
7803.476744186047

In [40]:
df.count(axis ="index")

Date             86
Profit/Losses    86
dtype: int64

In [96]:
budget_data = pd.read_csv('budget_data.csv')
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [98]:
net_change = []

for i in range(1,len(budget_data)):
    net = budget_data["Profit/Losses"][i] - budget_data["Profit/Losses"][i-1]
    net_change.append(net)
    
avg_change = round(sum(net_change)/len(net_change),2)
avg_change

-2315.12

In [100]:
max_profit = max(net_change)
month_max_profit = budget_data.loc[(net_change.index(max_profit)+1)]["Date"]
max_profit

1926159

In [101]:
min_profit = min(net_change)
month_min_profit = budget_data.loc[(net_change.index(min_profit)+1)]["Date"]
min_profit

-2196167

In [112]:
print('Financial Analysis')
print('----------------')
print('Total Months:86')
print('Total: $38382578')
print('Average Change: $-2315.12')
print('Greatest Increase in Profits: $1926159')
print('Greatest Decrease in Profits: $-2196167')

Financial Analysis
----------------
Total Months:86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: $1926159
Greatest Decrease in Profits: $-2196167