In [1]:
import os

In [2]:
import csv

'C:\\Users\\alexa\\Jupyter-Workspace\\Homework Week 2\\PyBank'

'C:\\Users\\alexa\\Jupyter-Workspace\\Homework Week 2\\PyBank'

In [1]:
import pandas as pd

df = pd.read.csv("budget_data_csv")

AttributeError: module 'pandas' has no attribute 'read'

In [6]:
pd.read._csv("budget_data.csv")

AttributeError: module 'pandas' has no attribute 'read'

In [ ]:
pd.read_csv("budget_data.csv")

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('budget_data.csv')
print(df)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [3]:
df.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [ ]:
print('Financial Analysis')
print('----------------')
print('Total Months:86')

In [4]:
len(df['Date'])

86

In [5]:
Months = len(df['Date'])
print(Months)

86

In [6]:
df['Profit/Losses'].sum()

38382578

In [8]:
Total = df['Profit/Losses'].sum()
print(Total)

38382578